@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

.navbar-brand{
    margin-left:7.94%;
}

.menu1{
    margin-left: 21%;
    font-weight: bold;
}

.navbar-nav > li{
    margin-left: 44px;
    font-weight: bold;

}

body{
    font-family: 'Nunito Sans', 'Darker Grotesque', sans-serif !important;
}

.Tit-1 {
    font-size: 56;
    font-weight: bolder;
    
}

.txtt-1{
  font-weight: bold;
  font-size: 24;
}


.txt-tit{
margin-left: 10%;
margin-right: 7.94%;
margin-top: 15%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #97cbf552;
  padding: 50px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(156, 156, 156, 0.8);
  padding: 16px;
  text-align: center;
}

.form-control{
    border: "2px solid #000000" !important;
    border-color: rgb(0, 0, 0) !important;
    border-radius: 0 !important;
    /* display: grid !important; */
    
}


.moved{
  width: 35%;
  height: 165%;
  left: 35px;
  transform: translate3d(740px,20px,100px);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 5px 0px #212429;
}

.form{
  margin-left: 35px;
  margin-right: 35px;
}

.form-terms{
    font-size: 12px;

}

/*BOTÃO1e 2-3D*/
.btn {
    top: 0;
    left: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    text-transform: uppercase;
    color: #404040dc;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -4px 6px 0 #404040;
    text-decoration: none;
  }
  .btn:hover {
    top: 3px;
    left: -3px;
    box-shadow: -2px 4px 0 #404040;
  }
  .btn:hover::after {
    top: 1px;
    left: -2px;
    width: 4px;
    height: 4px;
  }
  .btn:hover::before {
    bottom: -2px;
    right: 1px;
    width: 4px;
    height: 4px;
  }
  .btn::after {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    top: 2px;
    width: 8px;
    height: 8px;
    background-color: #212429;
    transform: rotate(45deg);
    z-index: -1;
  }
  .btn::before {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    bottom: -4px;
    width: 8px;
    height: 8px;
    background-color: #212429;
    transform: rotate(45deg);
    z-index: -1;
  }

  a.btn {
    position: relative;
    border-radius: 0px;
    border-color: rgb(0, 0, 0);
    border-width:  1px;
  }

  a:active.btn {
    top: 6px;
    box-shadow: none;
  }
  a:active.btn:before {
    bottom: 1px;
    right: 1px;
  }
  a:active.btn:after {
    top: 1px;
  }

  .bg{
    background-color: #19C1CE !important;
  }

  .arrow{
      margin-top: 7px;
      margin-left: 3px
  }
  .cta{
      display: flex !important;
      width: 15% !important;
      margin-left: 2%;
  }

.btnn {
    top: 0;
    left: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -4px 6px 0 #404040;
    text-decoration: none;
  }

  .conta{
    background-color: #F2BF4E !important;    
}
  .btnn:hover {
    top: 3px;
    left: -3px;
    box-shadow: -2px 4px 0 #404040;
  }
  .btnn:hover::after {
    top: 1px;
    left: -2px;
    width: 4px;
    height: 4px;
  }
  .btnn:hover::before {
    bottom: -2px;
    right: 1px;
    width: 4px;
    height: 4px;
  }
  .btnn::after {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    top: 2px;
    width: 8px;
    height: 8px;
    background-color: #212429;
    transform: rotate(45deg);
    z-index: -1;
  }
  .btnn::before {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    bottom: -4px;
    width: 8px;
    height: 8px;
    background-color: #212429;
    transform: rotate(45deg);
    z-index: -1;
  }

  a.btnn {
    position: relative;
    border-radius: 0px;
    border-width:  1px;
  }

  a:active.btnn {
    top: 6px;
    box-shadow: none;
  }
  a:active.btnn:before {
    bottom: 1px;
    right: 1px;
  }
  a:active.btnn:after {
    top: 1px;
  }

 

.txt-1{
    margin-left:7.94%;
    position: absolute;
    color:rgb(0, 0, 0);
    top: 100px;
    line-height: 30px;
    display: "flex" !important;
    flex-wrap: wrap !important;

}

.txt-2{
    color: #FFFFFF;
    margin-top: -40%;
    height: 331;
    width: 100%;
    background-image: url("../img/shapes-bg/shapel.svg");
  }

  .txt-2-2{
    margin-left: 7.94%;
  }
  .txt-2-3{
    color: #FFFFFF;
    width: 1224px;
    height: 396px;
    margin-left: 6%;
    text-align: center;
    background-image: url("../img/shapes-bg/shapel.svg");
  }


.txt-3{
    margin-left:7.94%;
}
